@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    padding:0px;
    margin:0px;
}

body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.bg-success-local{
    background-color: #28A745;
}

.text-success-local{
    color:#28A745;
    font-weight: 500;
}

.formato-img{
    width: 8em;
}

.ancho{
    width: 20em;
    height: 18em;
}